*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;

    height: 100%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background: linear-gradient(
        135deg,
        #005c28,
        #0c9c46,
        #1aae35
    );

    display:flex;
    flex-direction:column;
    
}


header{
    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:12px 18px;

    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(8px);

    box-shadow:0 4px 12px rgba(0,0,0,0.2);

    position:sticky;
    top:0;
    z-index:10;
}
header h2{
    font-size:2rem;
    flex-grow:1;
    text-align:center;
    letter-spacing:2px;
}

.voltar{
    width:45px;
    height:45px;

    color:rgb(12,192,93);
    background:rgb(243, 243, 243);

    border:none;
    border-radius:50%;

    font-size:26px;

    cursor:pointer;

    box-shadow:0 4px 8px rgba(0,0,0,0.25);

    transition:all 0.2s ease;
}

.voltar:hover{
    background:rgb(10,149,72);
    color:white;
    transform:scale(1.05);
}

.voltar:active{
    transform:translateY(2px);
}

.a4s{
    width:45px;
    height:45px;

    border-radius:50%;

    background:rgba(255,255,255,0.3);

    box-shadow:0 4px 8px rgba(0,0,0,0.25);

    cursor:pointer;

    transition:all 0.2s ease;
}

.a4s:hover{
    background:white;
    transform:scale(1.05);
}

.titulo-texto {
    color: white;
}

@font-face{
    font-family:'Maria Lucia';
    src:url('../fonte/Maria_lucia.ttf') format('truetype');
}

.fonte-cursiva{
    font-family:'Maria Lucia', cursive;
}

/* RESPONSIVIDADE */

@media(max-width:600px){

    header{
        padding:10px;
    }

    header h2{
        font-size:1.4rem;
    }

    .voltar,
    .a4s{
        width:38px;
        height:38px;
        font-size:20px;
    }

}