.opcoes{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:28px;
    margin-top:40px;
}


.titulo{
    display:block;
    margin:auto;
    margin-top:60px;
    margin-bottom:20px;

    max-width:50%;
    height:auto;
}

.botao{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:14px;

    width:240px;
    height:70px;

    background:linear-gradient(
        135deg,
        #0f7f63,
        #0a6b54
    );

    color:white;

    border:none;
    border-radius:28px;

    font-size:20px;
    font-weight:600;

    cursor:pointer;

    box-shadow:0 8px 16px rgba(0,0,0,0.25);

    transition:all 0.25s ease;
}

.botao i{
    font-size:22px;
}


.jogar .botao{
    background:linear-gradient(
        135deg,
        #10a37f,
        #0d8c6c
    );

    font-size:22px;
}


.botao:hover{
    transform:translateY(-3px) scale(1.03);

    background:white;
    color:#0f7f63;

    box-shadow:0 10px 20px rgba(0,0,0,0.35);
}


.botao:active{
    transform:translateY(2px);

    box-shadow:0 4px 8px rgba(0,0,0,0.25);
}

.a4s{
    position:absolute;

    top:25px;
    left:20px;

    width:60px;
    height:60px;

    transition:transform 0.2s ease;
}

.a4s:hover{
    transform:scale(1.08);
}

section{
    text-align:center;
}


/* ---------------- RESPONSIVIDADE ---------------- */

@media (max-width:1024px){

    .titulo{
        margin-top:80px;
        margin-bottom:40px;
        max-width:75%;
    }

    .botao{
        width:240px;
        height:100px;

        font-size:26px;
    }

    .botao i{
        font-size:36px;
    }

}


@media (max-width:700px){

    .titulo{
        margin-top:80px;
        margin-bottom:20px;
        max-width:90%;
    }

    .a4s{
        width:45px;
        height:45px;
    }

    .botao{
        width:160px;
        height:80px;

        font-size:18px;
    }

    .botao i{
        font-size:24px;
    }

}